.video-thumbnail {
  cursor: pointer;
  padding: 15px 10px;
  outline: none;

  &:hover {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 
                0 1px 18px 0 rgba(0, 0, 0, 0.12), 
                0 3px 5px -1px rgba(0, 0, 0, 0.3);
  }

  .thumbnail-image {
    min-height: 210px;
    background-size: 230px auto !important;
    background-repeat: no-repeat !important;
  }
}

.thumbnail-info {
  .thumbnail-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 8px;
  }
   
  .thumbnail-channel, .thumbnail-date {
    color: #888888;
    font-size: 0.8rem;
    line-height: 1rem;
  }
}